.fa-star{
    color: #053361;
}
.addreview{
    background-color: rgb(122, 175, 255);
}
.featurerow{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.481);
}
.buypagerow{
    background-image: url('../../../images/buypagebg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.features{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.481);
}